{% extends 'temp_regulator/base.html' %}

{% block content %}
    <div class="center-box">
        <h1 class="display-1"><i class="far fa-calendar-alt"></i> Choose the day</h1>

        <div class="modes-btn">
            <button type="button" class="day-button mt-2">Monday</button>
            <button type="button" class="day-button mt-2">Tuesday</button>
            <button type="button" class="day-button mt-2">Wednesday</button>
            <button type="button" class="day-button mt-2">Thursday</button>
            <button type="button" class="day-button mt-2">Friday</button>
            <button type="button" class="day-button mt-2">Saturday</button>
            <button type="button" class="day-button mt-2">Sunday</button>
        </div>
    </div>
{% endblock content %}