{% extends 'temp_regulator/base.html' %}
{% load static %}

{% block content %}

    <div class="center-box">

        <p class="date mt-5">{{ date|date:'l, H:i, j.n.Y' }}</p>
        <hr>
        <p class="temperature display-1">{{ temperature.temp }}<span>&#176;</span>C</p>
        <div>
            <form action="" method="POST" class="temp-buttons-form">
                <button type="button" class="temp-button" id="up-btn">
                    <i class="fas fa-angle-up"></i>
                </button>
                <button type="button" class="temp-button ml-3" id="down-btn">
                    <i class="fas fa-angle-down"></i>
                </button>
            </form>
        </div>
    </div>
    <hr class="mt-5">

{% endblock content %}

{# TODO temperature change with buttons #}