{% extends 'temp_regulator/base.html' %}

{% block content %}

    <div class="center-box">
        <h1 class="display-1">Select the desired mode</h1>

        <a href="{% url 'temp_regulator:party-mode' %}" style="text-decoration: none"
           onclick="return confirm('You\'re going to set temperature to 20' + '&#176;' + 'C. Are you sure?')">
            <button class="btn btn-outline-light btn-block mt-3 modes-btn">
                <i class="fas fa-glass-cheers"></i> Party
            </button>
        </a>

        <a href="{% url 'temp_regulator:vacation-mode' %}" style="text-decoration: none"
           onclick="return confirm('You\'re going to set temperature to 10' + '&#176;' + 'C. Are you sure?')">
            <button class="btn btn-outline-light btn-block mt-3 modes-btn">
                <span><i class="fas fa-plane-departure"></i> Vacation</span>
            </button>
        </a>

        <a href="{% url 'temp_regulator:conditioning-mode' %}" style="text-decoration: none"
           onclick="return confirm('You\'re going to set temperature to 16' + '&#176;' + 'C. Are you sure?')">
            <button class="btn btn-outline-light btn-block mt-3 modes-btn">
                <span><i class="fas fa-snowflake"></i> Conditioning</span>
            </button>
        </a>
    </div>

{% endblock content %}