{% extends 'temp_regulator/base.html' %}

{% block content %}

    <div class="center-box">
        <h1 class="display-1">Select the desired mode</h1>

        <div class="modes-btn">

            <a href="{% url 'temp_regulator:party-mode' %}">
                {#                <button type="button" class="temp-button mt-4">#}
                <i class="fas fa-glass-cheers"></i> Party
                {#                </button>#}
            </a>

            <a href="{% url 'temp_regulator:vacation-mode' %}">
                {#                <button type="button" class="temp-button mt-3" id="vacation-btn" name="vacation">#}
                <span><i class="fas fa-plane-departure"></i> Vacation</span>
                {#                </button>#}
            </a>

            <a href="{% url 'temp_regulator:conditioning-mode' %}">
                {#            <button type="button" class="temp-button mt-3" id="anti-freeze-btn" name="anti-freeze">#}
                <span><i class="fas fa-snowflake"></i> Conditioning</span>
                {#            </button>#}
            </a>

        </div>
    </div>
{% endblock content %}